.RecentFiles {
    width: unset;
    position: fixed;
    right: 0px;
    height: fit-content;
    background-color: rgba(51, 51, 51, 0.5);
    z-index: 99999;
    top: 100px;
    color: white;
    overflow-y: scroll;
    max-height: 400px;
    padding-bottom:10px;
}


.RecentFiles ul {
    margin: 0px;
    padding: 0px;
}

.RecentFiles li:hover {
    background: darkslategrey;
}

.RecentFiles li {
    font-family: GT Eesti Display, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 600;
    padding: 5px;
}

.RecentFiles li .type {
    font-weight: 100;
}

.RecentFiles .timeDifference {
    font-size: 8px;
}

ul {
    list-style: none;
}

.jstree-default .jstree-anchor {
    font-weight: 100;
    font-size: 13px;
    letter-spacing: 1px;
}

.noty_theme__mint.noty_type__info,
.noty_theme__mint.noty_type__information {
    background-color: darkslategrey;
    border-bottom: 1px solid darkslategrey;
    color: #fff;
}


.NavbarSelect {
    width: auto;
    min-width: 100px;
    max-width: 200px;
    top: 5px;
    position: relative;
    max-height: 35px;
}

.EditIcon {
    font-size: 12px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background: springgreen;
    color: #333;
    border-radius: 3px;
    padding-left: 2px;
    opacity: 1;
}

.clickable {
    cursor: pointer;
}

.ProjectTree {
    height: auto;
    overflow: hidden;
}

.AccountStat {
    font-family: Roboto, sans-serif;
    font-size: 12px;
    margin-top: 5px;
    font-weight: 100;
    font-style: italic;
}

.OrganizationsEmptyText {
    text-align: center;
    font-family: Roboto, sans-serif;
    font-weight: 100;
    opacity: 0.2;
}

.ProjectsForm,
.OrganizationsForm {
    border-radius: 5px;
    border: 0;
    min-height: 400px;
    box-shadow: none!important;
}

.NiceItemText {
    color: black;
    padding: 20px;
    font-family: Roboto, sans-serif;
    font-weight: 300;
    font-size: 20px;
    font-variant: petite-caps
}

.NiceItemIcon {
    min-height: 64px;
}

.NiceItemIcon,
.NiceItemIcon a {
    color: black;
    cursor: pointer;
}

.NiceItem:hover {
    background-color: mediumslateblue;
}

.NiceItem:hover .NiceItemText,
.NiceItem:hover .NiceItemIcon a {
    color: white;
}

.ShortErrorMessage {
    text-align: center;
    width: 100%;
    font-family: Roboto, sans-serif;
    font-weight: 100;
    color: indianred;
    font-size: 14px;
}



.LoginForm {
    max-width: 250px;
    max-height: 400px;
}


.FullscreenDiv {
    width: 100%;
    min-height: calc(100vh - 40px);
}

.NavButton {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    padding: 3px 10px;
    font-variant: all-petite-caps;
    margin: 4px 0px;
    color: white;
}

.NavButton.WithSidebar {
    position: fixed;
    top: 5px;
    background: transparent;
    z-index: 99999;
    left: 5px;
    opacity: 0.1;
}

.NavButton:hover {
    box-shadow: none;
    background: mediumslateblue;
    color: white!important;
    font-weight: 400;
    opacity: 1;
}

.EditorHeader {
    background-color: #333;
    color: white;
    width: -webkit-fill-available;
    position: relative;
    margin-top: 0px;
    min-height: 40px;
    transition: all .35s ease-in-out;
    padding: 0px 30px;
}


.EditorHeaderToggle {
    color: white;
    cursor: pointer;
    right: 20px;
    bottom: 0px;
    width: 20px;
    position: absolute;
    height: 20px;
    margin-bottom: -20px;
    background: #333;
    z-index: 9999;
    text-align: center;
    border-radius: 0px 0px 5px 5px;
}


.EditorHeader.hidden {
    margin-top: -40px;
}

.Button {
    padding: 5px 20px;
    font-size: small;
    font-weight: 100;
    font-family: Roboto, sans-serif;
    background: white;
    border-color: rgba(0, 0, 0, .2);
    color: black;
}

.NavbarSelect:focus,
.NavbarSelect:active,
.NavbarSelect:hover,
.NavButton:focus,
.NavButton:active,
.NavButton:hover,
.Button:focus,
.Button:active,
.Button:hover {
    outline: 0px;
    box-shadow: none;
}

.Button.FileIsDirty {
    font-weight: 800;
}

.SmallLabel {
    font-size: 10px;
    margin: 0px;
    margin-bottom: 1px;
    font-weight: bold;
}

.SmallInput {
    opacity: 0.5;
    font-family: Roboto-, sans-serif;
    font-size: small;
    font-weight: 100;
    padding: 3px;
    max-width: 350px;
    width: -webkit-fill-available;
    height: 35px!important;
}

.EditorState {
    position: fixed;
    right: 0px;
    bottom: 0px;
    width: 160px;
    background: transparent;
    z-index: 9999;
    height: 20px;
    border-radius: 4px 0px 0px 0px;
}


.EditorStateText {
    text-align: right;
    line-height: 20px;
    margin: 0px;
    padding: 0px;
    font-family: Roboto;
    font-weight: 100;
    color: white;
    font-size: 12px;
    padding-right: 5px;
}

.HomeSearchResultUL {
    max-height: calc(100vh - 150px);
    overflow: scroll;
}

.HomeSearchResultLI {
    color: black;
    border-radius: 0px;
    border-top: 0px;
    cursor: pointer;
}

.HomeSearchResultTitle {
    font-family: Roboto, sans-serif;
    font-weight: inherit;
    font-size: 12px;
    text-transform: lowercase;
}

.HomeSearchResultType {
    font-family: Roboto, sans-serif;
    font-weight: 100;
    font-size: 10px;
    font-style: italic;
}

.HomeSearch {
    opacity: 1;
    border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: bold;
    font-style: inherit;
}

.HomeSearch::placeholder {
    font-family: Roboto, sans-serif;
    font-weight: 100;
    font-size: 10px;
    font-style: italic;
    opacity: 0.8;
}

.SmallInput:hover,
.SmallInput:active,
.SmallInput:focus,
.HomeSearch:hover,
.HomeSearch:active,
.HomeSearch:focus {
    box-shadow: none;
    outline: 0px;
    border-color: gainsboro;
    opacity: 1;
}

.HomeTitle:focus,
.HomeTitle:active,
.HomeTitle:hover {
    box-shadow: none;
    outline: 0px;
    border: 0px;
}

.HomeTitle {
    background-color: darkslategrey;
    color: white;
    font-family: Roboto, sans-serif;
    font-weight: lighter;
    margin-top: 10px;
    letter-spacing: 11px;
    position: relative;
    left: 3px;
    text-transform: uppercase;
    border: 0px;
    font-size: 20px;
    text-align: center;
}

.HomeTitleSub {
    font-family: Roboto, sans-serif;
    font-weight: 800;
    font-style: italic;
    font-size: x-small;
}


input {
    width: -webkit-fill-available;
}


#CodeEditor {
    min-width: 100%;
    min-height: calc(100vh);
    transition: all .35s ease-in-out;
}

.EditorHeader.hidden+#CodeEditor {
    min-height: calc(100vh);
}

.clearfix:after {
    content: '';
    display: table;
    clear: both;
}

#MainLayout {
    background-color: dimgray;
    float: right;
    height: calc(100vh);
    width: calc(100vw - 230px);
    max-height: calc(100vh);
    overflow: scroll;
}


.ContentBox {
    margin: 10px 11px 5px 10px;
}

#SidebarLayout {
    background-color: darkslategrey;
    color: white;
    width: 230px;
    float: left;
    height: calc(100vh);
    overflow-y: scroll;
    position: relative;
}

#dragbar {
    background-color: darkslategrey;
    height: -webkit-fill-available;
    width: 2px;
    cursor: col-resize;
    position: absolute;
    right: 0px;
    border-radius: 0px;
}

#ghostbar {
    width: 3px;
    background-color: limegreen;
    opacity: 0.5;
    position: absolute;
    cursor: col-resize;
    z-index: 999
}